<!--PageTitle = {{$PageTitle}} -->

<div id="flyAppInfo" style="margin:10px;">
    {{FlyAppInfo}}
</div>

<!-- our service section -->
<section id="services" class="text-center py-5 px-md-5">
    <h2 class="name"><b>{{$FeatureHeading}}</b></h2>
    <p class="text-secondary my-4">
        It helps to sync static apps from git <br /> and deploy in multiple regions in fly.io <br /> and measure the performance in browser
    </p>
    <div class="card-deck row px-3 px-md-5 mt-5">
        <div class="col-md-6 col-xl-3">
            <div class="card py-4 border-0">
                <div class="text-center">
                    <img src="Content/Images/service1.png"
                         alt="..." width="100">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Open UI*</h4>
                    <small class="card-text text-secondary">
                        Modify the UI of the EdgeApp to suit your Requirements
                    </small>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card py-4 border-0">
                <div class="text-center">
                    <img src="Content/Images/service2.png"
                         alt="..." width="100">
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Sync Using Git
                    </h4>
                    <small class="card-text text-secondary">
                        Sync any static webapps using Git using the EdgeApp
                    </small>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card py-4 border-0">
                <div class="text-center">
                    <img src="Content/Images/service3.png"
                         alt="..." width="100">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Deploy Machines to Edge</h4>
                    <small class="card-text text-secondary">
                        Deploy EdgeApp across all regions supported by Fly.io
                    </small>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card py-4 border-0">
                <div class="text-center">
                    <img src="Content/Images/service4.png"
                         alt="..." width="100">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Auto Shudown/Startup</h4>
                    <small class="card-text text-secondary">
                        The EdgeApp will auto shudown when idle for 30 seconds
                    </small>
                </div>
            </div>
        </div>
    </div>
    <p class="text-secondary" style="font:xx-small">
        * The Edge App UI is MIT Licensed and usage of the Edge App Runtime in fly.io is free. <br/> Customized Edge App Runtime is available optionally for Commercial License for 10 USD per Month/Per App or 1000 USD per App One Time
    </p>
</section>

